@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');
@import "../utilities/mixins";

body{
    background-color: green;
    font-family:'Noto Sans';
}

.logo{
    width: 100%;
    height: 2em;
}

@include breakpoints2(lg){
    .redes{
        display: flex;
        flex-direction: column ;

            .redes2{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
    }
    
}

@include breakpoints2 (md){
    .redes{
        border-right: none !important;
    }
    .marca{
        border-right: none !important;
    }
}




