@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: green;
    font-family:'Noto Sans';
}

.footer{

    color: white;
    font-size: 25px;
    background-color: black;
    height: auto;
    text-align: center;

    display: flex;
    flex-direction: column;

        .footer_icons{

            display: flex;
            flex-direction: column;
            gap: 5px;

    }
}