@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: green;
  font-family: 'Noto Sans';
}

.hero {
  background-color: white;
  background-image: url(../img/fondos/fotofondo1.jpg);
  background-size: cover;
  background-position: bottom;
  height: 50vh;
}

.hero .divIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 50px;
  gap: 30px;
}

.hero .divIndex .divIndex2 {
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}

.hero .divIndex .divIndex2 h1 {
  font-size: 30px;
}

.hero .divIndex .divIndex2 h2 {
  font-size: 25px;
}

.hero .divIndex .pMain {
  font-size: 20px;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .hero {
    height: 70vh;
  }
  .hero .divIndex {
    padding-top: 70px;
    gap: 70px;
  }
  .hero .divIndex .divIndex2 h1 {
    font-size: 40px;
  }
  .hero .divIndex .divIndex2 h2 {
    font-size: 35px;
  }
  .hero .divIndex .pMain {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 90vh;
  }
  .hero .divIndex {
    padding-top: 100px;
    gap: 100px;
  }
  .hero .divIndex .divIndex2 {
    padding: 35px;
  }
  .hero .divIndex .divIndex2 h1 {
    font-size: 60px;
  }
  .hero .divIndex .divIndex2 h2 {
    font-size: 42px;
  }
  .hero .divIndex .pMain {
    font-size: 40px;
  }
}

.seccionBlack {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  height: auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "ubi" "img" "desc" "boton";
}

.seccionBlack .pUbicacionB {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ubi;
  margin-bottom: 40px;
  font-size: 30px;
}

.seccionBlack .pDescripcionB {
  margin-top: 20px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: desc;
  font-size: 30px;
}

.seccionBlack .buttonBlack {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: boton;
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 15px;
  border: 5px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.seccionBlack .buttonBlack:hover {
  background-color: white;
  color: black;
  border: 5px solid white;
}

.seccionBlack .buttonBlack:hover {
  background-color: white;
  color: black;
  border: 5px solid white;
}

.seccionBlack .imgPadre {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "img1 img2" "img3 img4";
}

.seccionBlack .imgPadre figure {
  margin: 0;
}

.seccionBlack .imgPadre .imgHijo1 figure img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
  width: 100%;
}

.seccionBlack .imgPadre .imgHijo2 figure img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
  width: 100%;
}

.seccionBlack .imgPadre .imgHijo3 figure img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img3;
  width: 100%;
}

.seccionBlack .imgPadre .imgHijo4 figure img {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img4;
  width: 100%;
}

.seccionWhite {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
  height: auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "ubi" "img" "desc" "boton";
}

.seccionWhite .pUbicacionW {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ubi;
  margin-bottom: 40px;
  font-size: 30px;
}

.seccionWhite .pDescripcionW {
  margin-top: 20px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: desc;
  font-size: 30px;
}

.seccionWhite .buttonWhite {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: boton;
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 15px;
  border: 5px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.seccionWhite .buttonWhite:hover {
  background-color: black;
  color: white;
  border: 5px solid black;
}

.seccionWhite .imgPadre {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "img1 img2" "img3 img4";
}

.seccionWhite .imgPadre figure {
  margin: 0;
}

.seccionWhite .imgPadre .imgHijo1 figure img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
  width: 100%;
}

.seccionWhite .imgPadre .imgHijo2 figure img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
  width: 100%;
}

.seccionWhite .imgPadre .imgHijo3 figure img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img3;
  width: 100%;
}

.seccionWhite .imgPadre .imgHijo4 figure img {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img4;
  width: 100%;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .seccionBlack .pUbicacionB {
    font-size: 38px;
  }
  .seccionBlack .pDescripcionB {
    font-size: 38px;
  }
  .seccionBlack .buttonBlack {
    font-size: 22px;
  }
  .seccionWhite .pUbicacionW {
    font-size: 38px;
  }
  .seccionWhite .pDescripcionW {
    font-size: 38px;
  }
  .seccionWhite .buttonWhite {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .seccionBlack {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "ubi ubi" "img desc" "boton boton";
  }
  .seccionBlack .pUbicacionB {
    font-size: 50px;
  }
  .seccionBlack .pDescripcionB {
    margin-top: 150px;
    margin-bottom: 0px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: desc;
    font-size: 40px;
  }
  .seccionBlack .buttonBlack {
    font-size: 28px;
  }
  .seccionWhite {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "ubi ubi" "desc img" "boton boton";
  }
  .seccionWhite .pUbicacionW {
    font-size: 50px;
  }
  .seccionWhite .pDescripcionW {
    margin-top: 150px;
    margin-bottom: 0px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: desc;
    font-size: 40px;
  }
  .seccionWhite .buttonWhite {
    font-size: 28px;
  }
}

.finalMain {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D9D1BC), color-stop(#F2ECD6), to(#FFFEFC));
  background-image: linear-gradient(#D9D1BC, #F2ECD6, #FFFEFC);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.finalMain .pFinalM {
  list-style-type: none;
  font-size: 20px;
  padding-top: 1em;
}

.finalMain .buttonVerProp {
  padding: 1em;
  border-radius: 15px;
  border: 5px solid black;
  background-color: transparent;
  color: black;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1em;
}

.finalMain .pVideo {
  display: none;
}

.finalMain iframe {
  display: none;
}

@media (min-width: 1024px) {
  .finalMain {
    height: auto;
  }
  .finalMain .pFinalM {
    display: none;
  }
  .finalMain .buttonVerProp {
    padding: 25px;
    font-size: 28px;
    margin-top: 1em;
  }
  .finalMain .pVideo {
    font-size: 40px;
    display: block;
  }
  .finalMain iframe {
    display: block;
    padding-bottom: 2em;
  }
}

/*------------------------------------- MEDIASQ ------------------------------------------------------- */
@media (min-width: 769px) and (max-width: 1023px) {
  .pUbicacionB, .pUbicacionW, .pDescripcionB, .pDescripcionW {
    font-size: 38px;
  }
  .buttonBlack, .buttonWhite, .pFinalM, .buttonVerProp {
    font-size: 22px;
  }
  .footer {
    color: white;
    font-size: 35px;
    background-color: black;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3em;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .seccionBlack {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "ubi ubi" "img desc" "boton boton";
  }
  .pUbicacionB, .pUbicacionW {
    font-size: 50px;
  }
  .pDescripcionB, .pDescripcionW {
    margin-top: 150px;
    margin-bottom: 0px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: desc;
    font-size: 40px;
  }
  .buttonBlack, .buttonWhite {
    font-size: 28px;
  }
  .seccionWhite {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "ubi ubi" "desc img" "boton boton";
  }
}

/*------------------------------------- MEDIASQ ------------------------------------------------------- */
/*------------------------------------- INDEX ------------------------------------------------------- */
/*------------------------------------- PROPIEDADES ------------------------------------------------------- */
.encontrarCasa {
  background-color: red;
  background-image: url(../img/fondos/fotofondo1.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.encontrarCasa h1 {
  font-size: 40px;
}

.encontrarCasa h2 {
  font-size: 25px;
}

.encontrarCasa p {
  font-size: 18px;
}

.encontrarCasa form {
  font-size: 18px;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .encontrarCasa h1 {
    font-size: 45px;
  }
  .encontrarCasa h2 {
    font-size: 28px;
  }
  .encontrarCasa p {
    font-size: 22px;
  }
  .encontrarCasa form {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .encontrarCasa h1 {
    border: 1px solid black;
    border-radius: 15px;
    font-size: 50px;
    padding: 15px;
  }
  .encontrarCasa h2 {
    font-size: 33px;
  }
  .encontrarCasa p {
    font-size: 25px;
  }
  .encontrarCasa form {
    font-size: 25px;
  }
}

/*------------------------------------- PROPIEDADES ------------------------------------------------------- */
/*------------------------------------- CLIENTES ------------------------------------------------------- */
.fondoCliente {
  background-image: url(../img/clientes/fotoclientes1.jpg);
  background-size: cover;
  height: 80vh;
  background-color: red;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fondoCliente h1 {
  font-size: 40px;
}

.fondoCliente h2 {
  font-size: 25px;
}

.cards {
  background-color: black;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  border: 1px solid black;
  background-color: #D9D1BC;
  text-align: center;
  width: 300px;
  border-radius: 15px;
}

.card:hover {
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.imgPng {
  width: 70%;
}

.nomCliente {
  font-size: 30px;
}

.descCliente {
  font-size: 20px;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .fondoCliente h1 {
    font-size: 45px;
  }
  .fondoCliente h2 {
    font-size: 30px;
  }
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .fondoCliente h1 {
    font-size: 50px;
  }
  .fondoCliente h2 {
    font-size: 35px;
  }
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*------------------------------------- CLIENTES ------------------------------------------------------- */
/*------------------------------------- CONTACTANOS ------------------------------------------------------- */
.fondoContacto {
  background: url(../img/fondos/fotofondo1.jpg);
  background-size: cover;
  background-position: bottom;
  height: 150vh;
  color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fondoContacto h1 {
  font-size: 40px;
}

.fondoContacto h2 {
  font-size: 20px;
}

.fondoContacto form {
  background-color: rgba(0, 0, 0, 0.2);
  width: 450px;
  height: auto;
  /* box-sizing: border-box; */
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.fondoContacto form h4 {
  color: white;
  font-size: 30px;
}

.fondoContacto input {
  width: 80%;
  margin: 10px;
  padding: 10px;
  /* box-sizing: border-box; */
  border: none;
  font-size: 17px;
}

form textarea {
  min-height: 50px;
  max-height: 100px;
  max-width: 80%;
  min-width: 80%;
  border: none;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .fondoContacto h1 {
    font-size: 50px;
  }
  .fondoContacto h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .fondoContacto h1 {
    font-size: 60px;
  }
  .fondoContacto h2 {
    font-size: 40px;
  }
}

/*------------------------------------- CONTACTANOS ------------------------------------------------------- */
/*------------------------------------- HISTORIA ------------------------------------------------------- */
.top-historia {
  background-image: url(../img/fondos/fotofondo1.jpg);
  background-size: cover;
  background-position: bottom;
  background-color: aliceblue;
}

/* text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-historia > *{
    font-size: 18px;
    padding: 10px;
    
}

.top-historia h1{    
    font-size: 25px;
    border: 2px solid black;
    border-radius: 20px;
} */
@media (min-width: 769px) and (max-width: 1023px) {
  /* .top-historia > *{
        font-size: 21px;
        padding: 5px;
    }
    
    .top-historia h1{    
        font-size: 30px;
        border: 2px solid black;
        border-radius: 20px;
    } */
}

@media (min-width: 1024px) {
  /* .top-historia > *{
        font-size: 25px;
        padding: 10px;
        
    }
    
    .top-historia h1{    
        font-size: 50px;
        border: 2px solid black;
        border-radius: 20px;
    } */
  .footer {
    color: white;
    font-size: 50px;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3em;
    font-size: 30px;
  }
}

/*------------------------------------- HISTORIA ------------------------------------------------------- */
/*# sourceMappingURL=style.css.map */