// SECTION BLACK 

.seccionBlack{
    background-color: $sectionBlack;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    height: auto;
    text-align: center;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "ubi"
    "img"
    "desc"
    "boton"
    ;

        .pUbicacionB{
            grid-area:ubi;
            margin-bottom: 40px;
            font-size: 30px;
        }

        .pDescripcionB{
            margin-top:20px;
            grid-area:desc;
            font-size: 30px;
        }

        .buttonBlack{
            grid-area:boton;
            
            margin-top: 1.5em;
            padding: 1em;
            border-radius: 15px;
            border: 5px solid white;
            background-color: black;
            color: white;
            cursor: pointer;
            font-size: 18px;

			&:hover{
				background-color: white;
            		color: black;
            		border: 5px solid white;
			}
        }

        .buttonBlack:hover{
            background-color: white;
            color: black;
            border: 5px solid white;
        }

        .imgPadre{
            grid-area:img;
            width: 100%;
            height: auto;
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            grid-template-areas:
            "img1 img2"
            "img3 img4";

            figure{
                margin: 0;
            }
            
            .imgHijo1 figure img{
                grid-area: img1;
                width: 100%;
            }
            
            .imgHijo2 figure img{
                grid-area: img2;
                width: 100%;
                
            }
            .imgHijo3 figure img{
                grid-area: img3;
                width: 100%;
            
            }
            .imgHijo4 figure img{
                grid-area: img4;
                width: 100%;
            
            }

        }
    
}


// SECCION WHITE


.seccionWhite{
    background-color: $sectionWhite;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    height: auto;
    text-align: center;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "ubi"
    "img"
    "desc"
    "boton"
    ;

        .pUbicacionW{
            grid-area:ubi;
            margin-bottom: 40px;
            font-size: 30px;
        }

        .pDescripcionW{
            margin-top:20px;
            grid-area:desc;
            font-size: 30px;
        }

        .buttonWhite{
            grid-area:boton;
            
            margin-top: 1.5em;
            padding: 1em;
            border-radius: 15px;
            border: 5px solid black;
            background-color: white;
            color: black;
            cursor: pointer;
            font-size: 18px;

            &:hover{
                background-color: black;
                color: white;
                border: 5px solid black;
            }
        }   


        .imgPadre{
            grid-area:img;
            width: 100%;
            height: auto;
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            grid-template-areas:
            "img1 img2"
            "img3 img4";

            figure{
                margin: 0;
            }
            
            .imgHijo1 figure img{
                grid-area: img1;
                width: 100%;
            }
            
            .imgHijo2 figure img{
                grid-area: img2;
                width: 100%;
                
            }
            .imgHijo3 figure img{
                grid-area: img3;
                width: 100%;
            
            }
            .imgHijo4 figure img{
                grid-area: img4;
                width: 100%;
            
            }

        }
    
}

@media (min-width:769px) and (max-width:1023px){

    .seccionBlack{

        .pUbicacionB{
            font-size: 38px;
        }
        .pDescripcionB{
            font-size: 38px;
        }

        .buttonBlack{
            font-size: 22px;
        }

    }

    .seccionWhite{

        .pUbicacionW{
            font-size: 38px;
        }

        .pDescripcionW{
            font-size: 38px;
        }

        .buttonWhite{        
            font-size: 22px;
        }

    }

}

@media (min-width:1024px) {

    .seccionBlack{
        grid-template-columns: 60% 40% ;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "ubi ubi"
        "img desc"
        "boton boton"
        ;


            .pUbicacionB{
                font-size: 50px;
            }

            .pDescripcionB{
                margin-top:150px;
                margin-bottom: 0px;
                grid-area:desc;
                font-size: 40px;
            }

            .buttonBlack{
                font-size: 28px;
            }
        
    }

       

    .seccionWhite{
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "ubi ubi"
        "desc img"
        "boton boton"
        ;

            .pUbicacionW{
                font-size: 50px;
            }

            .pDescripcionW{
                margin-top:150px;
                margin-bottom: 0px;
                grid-area:desc;
                font-size: 40px;
            }

            .buttonWhite{
                font-size: 28px;
            }
        
    }

}